# Pandas Primer  

[Pandas](https://pandas.pydata.org/) is a popular and useful data analysis library. "Pandas" stands for "panel data analysis" or sometimes "Python data analysis".   

Pandas is the go to package for working with panel data, CSVs, data stored in text files, Excel sheets, or even SQL databases. If you're coming from Excel, you'll find the Pandas approach fairly intuitive.   

In this primer, we'll cover the basics.

Imports:

```python
import pandas as pd
import numpy as np
import os
```

You'll see Pandas usually abbreviated as ```pd``` and Numpy usually abbreviated as ```np```.

In Pandas, data is stored as either a "series" (one-dimensional) or a "dataframe" (two-dimensional).  

You'll usually import data into a dataframe, but to begin we'll create this basic dataframe from scratch using ```pd.dataframe()```.

In [ ]:
df = pd.DataFrame({"Person":["John", "Myla", "Lewis", "John", "Myla"],
                   "Age": [24., np.nan, 21., 33, 26],
                   "Single": [False, True, True, True, False]})

```python 
df
```

View just the column headers:  

```python
df.columns
```

Select individual columns:  

```python
df['Age']
```

Select multiple columns by nesting a list:  

```python
df[['Person','Age']]
```

Select rows by index position using ```iloc```:  

```python
df.iloc[1:3]
```

Select by values using ```loc```:  

```python
df.loc[df['Single'] == True]
```

Select based on multiple conditions:

```python
df.loc[(df['Age'] > 20) & (df['Age'] < 30)]
```

Make a new dataframe based on a selection:

```python
newDF = df.loc[(df['Age'] > 20) & (df['Age'] < 30)]
```

A note on "copying"... The above method is really a view rather than a copy. You can sometimes unintentionally modify the original doing it this way, which may give you unexpected results down the line if you plan on using the original again. What?? Yeah.  

You may get some oblique warnings if you do it the above way...  

The prefered way to split off a selection of a dataframe is using the ```.copy()``` method:  

```python
newDF2 = df.loc[(df['Age'] > 20) & (df['Age'] < 30)].copy()
```

And here is the difference. Try this simple modification:  

```python
newDF['Age'] = newDF['Age'] + 1
```

Uh. What?  

Okay, try again using ```newDF2```: 

```python
newDF2['Age'] = newDF['Age'] + 1
```

There are a **TON** of built in dataframe methods that help you with munging, manipulating, statistics, and a more. See the docs: [https://pandas.pydata.org/pandas-docs/stable/reference/frame.html](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html).  

Some simple descriptive statistics...  

```python

.min()
.max()
.mean()
.sum()
.cumsum()
.mode()
.median()
.count()
.std()
.unique()
.describe()
```

Dealing with missing data:  

Lot's of [approaches](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#missing-data-handling), but commonly:  

```.isna()``` 
```.fillna()```

Note! Was this change permanent?  

Two ways to "save" a change:   

```python
df = df.fillna(20.0)
```
OR  

```python
df.fillna(20.0, inplace=True)
```

Creating new columns:  
```python
df['chainsaw'] = 'vrooooooom'
```

Math problem:
```python
df['result'] = df['Age'] ** 2

String methods:  

Concat new string to a column value to form a new column:
```python
df['email'] = df['Person'] + '@cuboulder.rules'
```

Split a string column using ```.str.split()```:  

Note the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html). Use the ```expand``` parameter to split into columns.  

Split email on ```@```.

What did ```.str.split()``` return?  


How do we select an element by it's index position?  

Make a ```domain``` column:

```python
df
```

Delete a column using ```.drop()```
```python
df.drop(columns='chainsaw', inplace=True)
```

Delete multiple columns.  
Feed the columns parameter a list.

### Applying a custom function to a column.  

Sometimes, you just have to do something your way! Imagine you have a "formula" you want to apply across all the rows in a column, excel style. You may be tempted to iterate through the rows of a column (and you can using ```.iterrows```), but this is not the most efficient way. 

You can use ```.apply()``` to apply a custom function to all rows in a column. 

Let's start with a quick side trip on functions:

```python
def mingle(age, single):
    if age < 30:
        if single == True:
            result = 'READY TO MINGLE'
        else: 
            result = "Home by 8pm"
    else:
        result = "Home by 8pm"
    
    return result
```

Does this function work? Let's try!  

```python
mingle(25,True)
```

Okay, now we'll use [```df.apply()```](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html), a [```lambda```](https://www.w3schools.com/python/python_lambda.asp) function to run this on our dataframe with the ```Age``` and ```Single``` columns as input.  

(Don't get too hung up on the details right now :-) ). 

```python
df['status'] = df.apply(lambda row: mingle(row['Age'], row['Single']), axis = 1)
```

### Reshaping data  

First, what is the shape?  

```python
df.shape
```

Transpose using ```.T```

Pivoting and Pivot Tables

In [ ]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                        "bar", "bar", "bar", "bar"],
                    "B": ["one", "one", "one", "two", "two",
                        "one", "one", "two", "two"],
                    "C": ["small", "large", "large", "small",
                        "small", "large", "small", "small", "large"],
                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7]})

You can create Excel-style pivot tables--useful for aggregating:

```python
pd.pivot_table(df,values='D', index='A', aggfunc='sum')
```

Rename a column using ```.rename()```

Merge the aggregated data back to our original dataframe:  

```python
df = pd.merge(df, aggDF, on='A')
```

Now, what's the proportion of of individual ```D``` to ```sumD```?

In [ ]:
df

Similar: ```.groupby()```  

```python
df.groupby(['A','C']).sum('D')
```

That's all for this lesson... questions?